*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background-color: rgba(200, 215, 221, 0.993);
    font-family: sans-serif;
    color: #000;
    min-height: 100vh;
    display:grid;
    place-content: center;
}

/* qr-code */
.container img{
    width: 100%;
    border-radius: 10px;
}

/* qr text */
 .qr-text{
text-align: center;
margin-top: 20px;
}

.container h1{
    margin-bottom: 20px;
    font-weight: 700;
}
.container p{
    margin-bottom: 10px;
    font-size: 15px;
}
