.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #333;
    width: 330px;
    margin-right:1rem;
    margin-left:1rem;
  }

  /* text sizes */
  .sm {
    font-size: 1.4rem;
  }
  .xsm {
    font-size:1.1rem;
  }
 
  
  
  /* PADDING */
  .py-1 {
    padding: 1rem 0;
  }
  .py-2 {
    padding: 1.5rem 0;
  }
  .py-3 {
    padding: 2rem 0;
  }
 
